@font-face{
    font-family: 'Titulo';
    src: url('../src/assets/Font/Apparat/ApparatExtraCond-Extralight.ttf'); 
}

@font-face{
    font-family: 'Texto';
    src: url('./assets/Font/Apparat/Apparat-Extralight.ttf');
}

*{
    margin: 0,0,0,0;
    padding: 0,0,0,0;
    box-sizing: border-box;
}

header{
    width: 100%;
    height: 600px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-image: url("../src/assets/img/Header\ teste.svg");
    background-size: cover;
    background-position: center;
}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;

}
.logo{
    width: 30% ;
}

.faixa1 {
    text-align: center;
    margin-top: 60px; /* Espaçamento superior */
}

.faixa1 h1{
    font-weight: normal;
    font-family: poppins;
    font-size: 96px;
}

.faixa1 a{
    font-family: Texto;
    font-size: 40px;
}


.faixa1 h1, .faixa1 a {
    margin-bottom: 20px; /* Espaçamento inferior */
}

.imagens {
    margin-top: 2%;
    display: flex;
    justify-content: center;
}

.imagens img{
    margin: 0 10px;
}

.img1{
width: 1000px;
height:  638px;
margin-left: 375px;
border-radius: 8%;
}

.img2{
    position: absolute;
    margin-top: 230px;
    margin-left: 52px;
    width: 500px;
    height: 500px;
    border-radius: 10%;
}

.second-part-title{
    text-align: center;
}

.second-part-title h1{
    font-weight: normal;
    font-family: poppins;
    font-size: 96px;
}

.second-part-title p{
    font-family: Texto;
    font-size: 40px;
}

.buttons{
    margin-bottom: 1000px;
    display: inline-flex;
    justify-content: center; /* Alinhar os containers horizontalmente */
    align-items: center; /* Alinhar os containers verticalmente */
}

.container-caixa-1{
    border-radius: 5%;
    margin-right: 1rem;
    width: 40%;
    height: 25rem;
    background-image: url("./assets/img/Group\ 22.svg");
    background-repeat: no-repeat;

    
}

.container-caixa-2{
    border-radius: 5%;
    margin-left: 1rem;
    width: 40%;
    height: 25rem;
    background-image: url("./assets/img/Group\ 23.svg");
    background-repeat: no-repeat;
}

.itens-red {
    margin-top: 25%;
    display: flex;
    flex-direction: column; /* Dispor os itens em coluna */
    align-items: center; /* Alinhar itens filhos ao centro */
}



.text{
    font-size: 2rem;
    font-family: Texto;
    color: aliceblue;
}

.link{
        width: 200px;
        height: 50px;
        border-radius: 30px;      
        background-color: transparent; /* Remover fundo */
        border: 2px solid white; /* Adicionar borda */
        color: #fff; /* Cor do texto */
        padding: 10px 20px; /* Espaçamento interno */
        text-decoration: none; /* Remover sublinhado */
        cursor: pointer; /* Cursor de ponteiro ao passar por cima */

}

